@import 'variables';
@import 'breakpoints';

.container {
	$parent: &;

	max-width: var(--site-width);

	margin-left: auto;
	margin-right: auto;

	// TODO: make configurable
	padding: 0 25px;

	&--full {
		width: 100%;
	}

	&--xs {
		max-width: var(--container-width-xs);
	}

	&--sm {
		max-width: var(--container-width-sm);
	}

	&--md {
		max-width: var(--container-width-md);
	}

	&--lg {
		max-width: var(--container-width-lg);
	}

	&--xl {
		max-width: var(--container-width-xl);
	}
}
